<p class="copyright">
  in-toto is maintained by the <a href="https://ssl.engineering.nyu.edu">
  Secure Systems Lab</a> at <a href="https://engineering.nyu.edu">New York
  University</a> as well as researchers from the 
  <a href="https://centers.njit.edu/cybersecurity/">Cybersecurity Research Center</a>
  at the <a href="https://njit.edu">New Jersey Institute of Technology</a>.
</p>
<p class="acknowledgements">
  This research was supported by the US National Science Foundation (NSF), the
  Defense Advanced Research Projects Agency (DARPA) and the Air Force Research
  Laboratory (AFRL). Any opinions, findings, and conclusions or recommendations
  expressed in this material are those of the authors and do not necessarily
  reflect the views of DARPA and AFRL. The United States Government is
  authorized to reproduce and distribute reprints notwithstanding any copyright
  notice herein.
</p>
