<nav>
  <ul>
    <li>
      <label for="drop-1">About</label>
      <input id="drop-1" type="checkbox">
      <ul>
        <li><a href="in-toto.html">What is in-toto?</a></li>
        <li><a href="integrations.html">Ongoing Integrations</a></li>
      </ul>
    </li>
    <li>
      <label for="drop-2">Community</label>
      <input id="drop-2" type="checkbox"/>
      <ul>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="https://github.com/in-toto">Contribute</a></li>
      </ul>
    </li>
    <li>
      <label for="drop-3">Get started</label>
      <input id="drop-3" type="checkbox"/>
      <ul>
        <li><a href="https://github.com/in-toto/demo">Try it out</a></li>
        <li><a href="metadata-examples.html">Metadata examples</a></li>
        <li><a href="specs.html">Specifications</a></li>
        <li><a href="https://in-toto.engineering.nyu.edu">Layout tool</a></li>
      </ul>
    </li>
    <li>
      <label for="drop-4">Learn more</label>
      <input id="drop-4" type="checkbox"/>
      <ul>
        <li><a href="news.html">News</a></li>
        <li><a href="#">Frequently Asked Questions</a></li>
      </ul>
    </li>
  </ul>
</nav>